/* font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

/* default light theme */
:root {
  --background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
  --elements: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 52%);
}


/* listen for user preference of theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(207, 26%, 17%);
    --text: hsl(0, 0%, 100%);
    --elements: hsl(209, 23%, 22%);
    --input: hsl(0, 0%, 52%);
  }
}

/* change to dark theme */
[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
  --elements: hsl(209, 23%, 22%);
  --input: hsl(0, 0%, 52%);
}
